body {
    font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    background-color: #eeeeee;
    width: 60%;
    min-width: 900px;
    margin: auto;
    padding: 1em 1em 1em 1em;
}

a {
    color: #aaaaaa;
    text-decoration: inherit;
}

div.main {
    background-color: #ffffff;
    color: #666666;
    padding: 1em 2em 2em 2em;
}

div.header {
    padding: 0em 0em 0.2em 0em;
}

div.navbar_infobar {
    float: right;
}

div.navbar {
    background-color: #eeeeee;
}

div.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px;
    overflow: hidden;
}

div.navbar li {
    float: left;
    padding: 8px 14px;
}

div.navbar a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #000000; 
}

div.infobar {
    font-size: 16px;
    padding: 20px 0px 0px 10px;
}

div.infobar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.namebar {
    text-align: left;
    font-size: 32px;
    padding: 0.1em 1em;
}

div.namebar a {
    color: inherit;
}

div.footer {
    text-align: center;
    padding: 10px 0px 0px 0px;
}
