body {
    background-color: #eeeeee;
    font-family: "Helvetica", "Arial", sans-serif;
}

div.main {
    background-color: #ffffff;
    color: #666666;
    margin: 4em 20em 4em 20em;
    padding: 2em 2em 2em 2em;
}

div.namebar {
    text-align: left;
    padding: 0px 10px;
}

div.infobar {
    padding: 0px 0px 10px 10px;
}

div.infobar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #aaaaaa;
    text-decoration: inherit;
}

div.namebar a {
    color: inherit;
}

div.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px;
    overflow: hidden;
    background-color: #cccccc;
}

div.navbar li {
    float: left;
}

div.navbar li a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    color: white; 
}

div.footer {
    text-align: center;
    padding: 10px 0px 0px 0px;
}
